#attention{
  padding: 8px 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  font-size: 1.4em;
  font-weight: 200;
  text-transform: uppercase;
  background-color: red;
  color: white;
}
h2{
	background-color: rgba(0,0,0,.1);
}
h3{
	margin-top: 0;
}
.container-fluid{
	max-width: 900px;
}
.navbar-default {
  border-color: #e7e7e7;
}
.body{
	margin-bottom: 5%;
}
footer{
	background-color: #e7e7e7
}
.img-showcase{
	padding: 5%;
	text-align: center;
	background-image: url(../img/ps_neutral/ps_neutral.png);
}
.img-showcase > img{
	display: inline;
}
.twitter-icon{
	background-color: white;
	border-radius: 4px;
	padding: 4px;
	outline: 1px lightgray solid;
}
.main-content{
	padding: 15px;
	background-color: rgba(0,0,0,.06);
}
.main-content h2{
	margin: 0 auto 5%;
	padding: 15px;
}
.main-content .row:not(:first-of-type) p{
	margin-bottom: 0;
}
.main-content table{
	background: #FFF;
}
.social-icon-row img:nth-of-type(2){
	margin: 0 8%;
}
.extraco-email-header{
	margin: 0 15px 15px;
	border-bottom: 8px rgb(37, 119, 202) solid;
	text-align: left;
	line-height: 102px;
}
.extraco-email-header > * {
	line-height: 102px;
}
.extraco-email-header > div{
	background: #FFF;
}
.email-header img:first-of-type{
	max-width: 190px;
}
.email-header .row:first-of-type .col-xs-12{
	
}
.thumbnail > img, .thumbnail a > img {
	display: inline;
	margin: 0;
}
.icon-row{
	float: right;
}